body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

input, label {
    display: block;
    position: relative;
    margin: .5rem;
}

input {
    padding: 5px;
    font-size: 1rem;
}

label {
    font-size: .8rem;
}

button {
    margin-left: .5rem;
}

input#billing-and-shipping-same:checked + #shipping-info {
    display: none;
}